.show-slider{
    margin-top: 30px;
    margin-bottom: 30px;
}
.capitalize {
    text-transform: capitalize;
}
div.tour-info-price-and-more{
    bottom: 7px;
    right: 10px;
    position: absolute;
}
div.tour-info-tile-description div.more-info{
    bottom: 9px;
    right: 8px;
    position: absolute;
}
.description{
    padding: 10px 20px;
}
.total-price{
    margin-bottom: 10px;
}

.modal .inform-action a{
    background:#ff66cc;
    border-radius: 10px;
    color: #fff;
    margin: 5px;
    padding: 10px;
}
@media screen and (max-width: 676px) {
    .modal .inform-content .product-name,
    .modal .inform-content .product-price,
    .modal .inform-total .label,
    .modal .inform-total .total{
        width: 100%;
        text-align: center;
    }
    #main .woocommerce .cart-collaterals .cart_totals,#main  .woocommerce-page .cart-collaterals .cart_totals{
        width: 100%;
    }
    #breadcrumb{
        margin: 0px auto 5px;
        width: 100%;
        padding: 0px 0.5%;
    }
    div.inform-action{
        text-align: center;
        vertical-align: middle;
    }
    div.inform-action div{
        margin: 15px 5px;
        clear: both;
        display: block;
        padding: 10px;
    }
    .modal div.inform-action div a{
        padding: 10px 30px;
    }
    .slick-slide img{
        margin: auto;
    }
    #popup_add_to_cart .product-price{
        width: 100%;
        clear:both;
    }
    #popup_add_to_cart .product-image{
        width: 100%;
        clear:both;
    }
    #popup_add_to_cart .product-image img{
        width: 100%;
    }
    .modal .price{
        text-align: center;
    }
    .row input,.row textarea{
        width: 100%;
    }
    .row{
        text-align: center;
    }
    .book-now div.time-selector select,
    .book-now div.time-selector input{
        width: 100%;
    }
    .split-block > div.grid,
    .booking-item > div.grid{
        border-bottom: solid 1px #0C1021;
    }
    .split-block > div.grid:last-child,
    .booking-item > div.grid:last-child{
        border-bottom: none;
    }
    .booking-item .grid .booking-item-image{
        height: 280px;
        padding: 15px;
        margin-bottom: 20px;
    }
    #cfacebook{
        display: none !important;
    }
    h1{font-size: 25px;}
    .split-block-photo{
        min-height: 60px;
    }
}
.modal .inform-content{
    clear: both;
    border-bottom:groove;
    margin: 15px 4px;
}
.modal .inform-content div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#popup_add_to_cart{
    z-index: 9999;
}
.price{
    font-weight: 700;
}
@media screen and (min-width: 676px) {
    .modal .inform-content .product-name,
    .modal .inform-content .product-price,
    .modal .inform-total .label,
    .modal .inform-total .total{
        width: 50%;
        float: left;
    }
    .modal .inform-total{
        margin-top: 15px;
    }
    #breadcrumb{
        width: 1140px;
        margin: 0px auto 5px;
    }
    div.inform-action div{
        float: left;
    }
    div.inform-action{
        float: right;
        margin-top: 25px;
    }
    #popup_add_to_cart .product-price{
        width: 60%;
        float: left;
    }
    #popup_add_to_cart .product-image{
        width: 40%;
        float: left;
    }
    #popup_add_to_cart .product-image img{
        width: 100px;
    }
    .modal .inform-content{
        display: flex;
    }
    .modal .price{
        text-align: right;
    }
    .comment-form-comment *{
        vertical-align: top;
    }
    .row p label{
        width: 30%;
        float: left;
    }
    .row p textarea, .row p input{
        width: 70%;
        float: left;
    }
    .form-submit{
        text-align: center;
    }
    .row p.form-submit input{
        float: none;
        width: 150px;
    }
    .row p{
        padding-bottom: 10px;
    }
    .row{
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
    }
    .traveller-comment{
        border-right: 1px solid #000000;
        padding-right: 7px;
    }
    h1{font-size: 30px;}
    .booking .book-now .time-selector select{
        width: 130px;
    }
    .booking .book-now .time-selector #quantity{
        width: 100px;
        height: 33px;
    }
    .percent45{
        width: 45%;
        float: left;
    }
    .percent45-right{
        width: 45%;
        float: right;
    }
    .booking{
        min-height: 650px;
    }
}

.media{
    border-bottom: 1px solid #ececec;
    padding-bottom: 5px;
    overflow: hidden;
    margin-top: 15px;
}
.media .media-left{
    float: left;
}
.media-left, .media-right, .media-body{
    display: table-cell;
    vertical-align: top;

}
.media-left, .media > .pull-left{
    padding-right: 10px;
}
.media .media-body .media-heading{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;

}
.trg-botcmm{
    margin: 5px 0;
    color: #828282;
}
.left{
    float: left;
}
.trg-botcmm > .left > span{
    display: inline-block;
    margin-right: 5px;
}
.split-block > div.grid,
.booking-item > div.grid{
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.hand-pointer{
    cursor: hand;
}
form.checkout input.error{
    border:1px solid red !important;
}
.blog-page ul li,
.contact-page ul li{
    list-style-type:none;
}
.blog-page ul li i.fa-angle-double-right{
    color: red;
}
.blog-page ul li .date-time{
    font-size: 14px;
}
.blog-page .content-title{
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact-page ul li a{
    color: inherit;
}
.blog-detail-page .left-col-archive{
    margin-bottom: 15px;
}
.blog-detail-page .title h4{
    color: #0044cc;
    font-size: 22px;
}
.blog-detail-page .blog-preview-time{
    font-size: 14px;
}
.sp-price{
    font-size: 120%;
    font-weight: bold;

}
.item-product-name{
    font-weight: 600;
}

/* autocomplete*/
.ui-draggable, .ui-droppable {
    background-position: top;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-front {
    z-index: 100;
}
.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-widget-content {
    color: #333333;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-menu {
    list-style: none;
}
.ui-helper-hidden-accessible{
    display: none !important;
}