/* Newsletter PopUp */
.newsletter_popup_inner{
    background: #fff url("//cdn.shopify.com/s/files/1/1010/9088/files/Modelbackgroundwhite_892c269a-d440-4553-8ff6-26e50dc351c1_large.jpg?v=1504464037") no-repeat;
    background-size: cover;
    background-position: center center;
}
.subscribe_area > h2 {
    color: #333333;
}
.subscribe_area > p {
    color: #333333;
}
/*.grid__item h1{*/
    /*color: ;*/
/*}*/
/* Breadcurmb Banner */
.breadcrumb-stye.gray-bg {
    background: #f6f6f6 url("//cdn.shopify.com/s/files/1/1010/9088/files/blogbanner.jpg?v=1504932528") no-repeat scroll center center / cover !important;
}
h2.page-title {
    color: #272526;
}
.breadcrumb-stye ul li a {
    color: #f7c3d5;
}
.breadcrumb-stye ul li a::after {
    background-color: #f7c3d5;
}
.breadcrumb-list span {
    color: #acabab;
}
/* Top Bar Noticfication */
.top-notification-bar {
    background: #ededed;
    background: -moz-linear-gradient(left, #ededed 0%, #969495 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ededed), color-stop(100%, #969495));
    background: -webkit-linear-gradient(left, #ededed 0%, #969495 100%);
    background: -o-linear-gradient(left, #ededed 0%, #969495 100%);
    background: -ms-linear-gradient(left, #ededed 0%, #969495 100%);
    background: linear-gradient(to right, #ededed 0%, #969495 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#969495', GradientType=1 );
    padding: 10px 0;
}
.notification-entry p a {
    background-color: #fbdde7;
    border: 1px solid #d7d5d5;
    color: #ffffff;
}
.notification-entry p a:hover {
    /*background-color: ;*/
    border: 1px solid #fff;
    color: #ffffff;
}
.notification-close-btn {
    /*background-color: ;*/
    border: 1px solid #fff;
    color: #fff;
}
.notification-close-btn:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #232323;
}