/* Newsletter PopUp */
.newsletter_popup_inner{
    background: #fff url("//cdn.shopify.com/s/files/1/1010/9088/files/Modelbackgroundwhite_892c269a-d440-4553-8ff6-26e50dc351c1_large.jpg?v=1504464037") no-repeat;
    background-size: cover;
    background-position: center center;
}
.subscribe_area > h2 {
    color: #333333;
}
.subscribe_area > p {
    color: #818181;
}
.grid__item h1{
    color: ;
}
/* Breadcurmb Banner */
.breadcrumb-stye.gray-bg {
    background: #fbe6ed  !important;
}
h2.page-title {
    color: #464646;
}
.breadcrumb-stye ul li a {
    color: #3c3c3c;
}
.breadcrumb-stye ul li a::after {
    background-color: #3c3c3c;
}
.breadcrumb-list span {
    color: #3c3c3c;
}
/* Top Bar Noticfication */
.top-notification-bar {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #323131 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #323131));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, #323131 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, #323131 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, #323131 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, #323131 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='#323131', GradientType=1 );
    padding: 10px 0;
}
.notification-entry p a {
    background-color: #ffe1eb;
    border: 1px solid #ded9d9;
    color: #2c2a2b;
}
.notification-entry p a:hover {
    background-color: #f99abb;
    border: 1px solid #d73232;
    color: #2023cf;
}
.notification-close-btn {
    background-color: #f0df0d;
    border: 1px solid #fff;
    color: #fff;
}
.notification-close-btn:hover{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #232323;
}